<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete user</title>
</head>
<body style="background-color: rgb(237, 167, 218);">
    <div>
        <h1 style="color: rgb(225, 87, 193);">Delete your user from Tinder 3.0</h1>
        <p>Please insert your email here to delete your user
        </p>
        <form id="deleteUsers" method="delete">
            <input type="email" id="email" placeholder="email"/>
            <button type="submit" name="Delete">Delete user</button>
        </form>
    </div>
    <script src="../controllers/delete.js"></script>
   
</body>
</html>
