<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Slet bruger</title>
</head>
<body>
    <div>
        <h1>Slet din bruger</h1>
        <p>For at slette din bruger, skal du indtaste email
            og derefter trykke på slet bruger knappen.
        </p>
        <form id="deleteUsers" method="delete">
            <input type="email" id="email" placeholder="email"/>
            <button type="submit" name="Delete"> Slet bruger</button>
        </form>
    </div>
    <script src="../controllers/delete.js"></script>
   
</body>
</html>
