<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="background-color: rgb(237, 167, 218);">
    
    <div>
    <form id="login" method="POST" style="text-align: center;">
        <h1 style="color: rgb(225, 87, 193);">Login</h1>
        <label for="email">Insert your email</label>
        <input type="text" id="email" name="email" placeholder="email">
        <br></br>
        <label for="hashed_password ">Insert your password</label>
        <input type="text" id="hashed_password" name="hashed_password" placeholder="password">
        <br></br>
        <button type="submit" id="login">Login</button>
      </form>

    </div>
    <br>
    <div style="text-align: center;">
      <a href="../ad_views/ad_login.html">Login as Administrator</button>
    </div>
    <br>
      <div style="text-align: center;">
          <a href="register.html">Dont have account? Sign up here</a>
      </div>

    </div>
  
    <script src="../controllers/login.js"></script> 
</body>
</html>