<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Super sej hjemmeside</title>
</head>
<body>
    
    <div>
    <form id="login" method="POST" style="text-align: center;">
        <h1>Login</h1>
        <label for="name">Insert your name</label>
        <input type="text" id="name" name="name" placeholder="name">
        <br></br>
        <label for="city ">Insert your city</label>
        <input type="text" id="city" name="city" placeholder="city">
        <br></br>
        <button type="submit" id="login">Login</button>
      </form>

    </div>
  
    <script src="../controllers/login.js"></script> 
</body>
</html>