<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Super sej hjemmeside</title>
</head>
<body>
    
    <div>
    <form id="login" method="POST" style="text-align: center;">
        <h1>Login</h1>
        <label for="email">Insert your email</label>
        <input type="text" id="email" name="email" placeholder="email">
        <br></br>
        <label for="hashed_password ">Insert your password</label>
        <input type="text" id="hashed_password" name="hashed_password" placeholder="password">
        <br></br>
        <button type="submit" id="login">Login</button>
      </form>

    </div>
    <br>
    <div style="text-align: center;">
      <a href="http://localhost:52331/ad_views/ad_login.html">Sign in as Administrator</button>
    </div>
    <br>
      <div>
          <a href="register.html">dont have account? sign in here</a>
      </div>

    </div>
  
    <script src="../controllers/login.js"></script> 
</body>
</html>