<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Velkommen til tinder</h1>

    <div>
        <button type="submit" onclick="window.location.href='delete.html'">delete user</button>

        <br>

        <button type="submit" onclick="window.location.href='update.html'">update user</button>

        <div>
            <button type="click" onclick="window.location.href='logout.html'">Logout</button>
        </div>


        <button type="click" onclick="window.location.href='matches.html'">Matches</button>
    </div>


</body>




</html>