<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body onload="isAuth()" style="background-color: rgb(237, 167, 218);">
    <h1 style="color: rgb(225, 87, 193);">Welcome to Tinder 3.0</h1>

    <div>
        <button type="submit" onclick="window.location.href='delete.html'">Delete your user</button>

        <br>

        <button type="submit" onclick="window.location.href='update.html'">Update your user</button>

        <div>
            <button type="click" onclick="window.location.href='logout.html'">Logout</button>
        </div>


        <button type="click" onclick="window.location.href='matches.html'">Find your matches</button>
    </div>


</body>


<script src="../controllers/profile.js"></script>


</html>