<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opdater din bruger</title>
</head>
<body>
    <div>
        <h1>Opdater din bruger</h1>
        <p>Din bruger opdaters på din email,
            så vær sikker på at du skriver din email rigtigt
        </p>
        <form id="update" method="patch">
            <input type="email" id="email" placeholder="email"/>

            <label>Gender</label>
    
            <select name="gender" id="gender" required>
                <option value="" disabled>----</option>
                <option value="female">Female</option>
                <option value="male">Male</option>
            </select>

            <label> Hvilken region bor du i? </label>
            <select name="region" id="region" required>
                <option value="" disabled>----</option>
                <option value="Hovedstaden">Hovedstaden</option>
                <option value="Sjælland">Sjælland</option>
                <option value="Syddanmark">Syddanmark</option>
                <option value="Midtjylland">Midtjylland</option>
                <option value="Nordjylland">Nordjylland</option>
            </select>

            <input type="text" id="age" placeholder="age"/>
            <input type="text" id="name" placeholder="name"/>

            <label>Interest</label>

            <select name="interest" id="interest" required>
                <option value="" disabled>----</option>
                <option value="female">Female</option>
                <option value="male">Male</option>
              </select>

            <button type="submit" name="Update">Opdater din bruger</button> 
        </form>
    </div>
    <script src="/controllers/update.js"></script>
</body>
</html>